{{define "bottom"}}    </main>
    
    <footer>
        <ul>
            <li><a href="https://x.com">X - Twitter</a></li>
            <li><a href="https://github.com">Github</a></li>
        </ul>
    </footer>
</html>{{end}}
